*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background-image: linear-gradient(to right,  #241959 , #524ff0 );
}

.header--nav:hover{
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    scale: 1.2;
    transition: 1s;
}

.masthead {
    background-size: cover;
    min-height: 60vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.color-overlay{
    background-color: rgba(0, 0, 0, .2);
}



.main{
    background-image: linear-gradient(to bottom,  #241959 , #524ff0 );
}

.main-img-p{
    font-size: 1.7em;
}

.main-img:hover {
    rotate: 36deg;
    transition: 1s;
    scale: 1.2;
}

.main-img:hover + p{
    color: aliceblue;
    scale: 1.2;
    transition: 1s;
}

.paymethod{
    background-color: #524ff0;
}
.paymethod--title{
    color: aliceblue;
    font-size: 2.5em;
}
.paymethod--bg{
    background-image: linear-gradient(to top,  #241959 , #524ff0 )
}

.paymethod--img{
    box-shadow: 2px 4px 15px #241959;
    border: solid slateblue;
}

.paymethod--info{
    color: aliceblue;
    text-shadow: 2px 2px 2px black
}

.paymethod--img:hover{
    scale: 1.1;
    transition: 1s;
}
.icons:hover{
    rotate: -36deg;
    transition: 0.5s;
}

@media (max-width:425px) {
    .masthead{
        min-height: 40vh;
    }
    .header--nav{
        text-align: center;
    }
    .main-img-p{
        font-size: 2em;
        color: aliceblue;
        text-shadow: 2px 2px 2px black;
        margin-top: 10%;
    }
}

@media (min-width:426px) and (max-width:960px) {
    .masthead{
        min-height: 40vh;
    }
    h1{
        font-size: 2em ;
    }
    .header--nav{
        text-align: center;
    }
    .main-img-p{
        font-size: 1em;
        color: aliceblue;
        margin-top: 10%;
    }

    .header--nav:hover{
        text-shadow: 2px 2px 2px black;
        scale: 1.1;
        transition: 1s;

    }
    .paymethod--title{
        font-size: 2em;
    }

}

.service--btn button{
    padding: 10px;
    font-size: 1.2em;
    color: #777;
    background-color: transparent;
    border: solid #777;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 700;
    transition: all 700ms ease;
}

.service--btn button:hover{
    animation: shadow-pulse 1000ms 1;
    background-color: #524ff0;
    color: white;
}

@media (min-width:585px){
    .service--title{
        color: rosybrown;
    }
    .service--info{
        font-size: 0.8em;
        margin-top: 5%;
    }
    .service--btn{
        margin-top: 4%;
    }
}

@media (min-width:800px){
    .service--title{
        color: aquamarine;
    }
    .service--info{
        font-size: 0.8em;
        margin-top: 5%;
    }
    .service--btn{
        margin-top: 15%;
    }
}

@media (min-width:968px){
    .service--title{
        color: salmon;
        font-size: calc(1vw + 2em);
    }
    .service--info{
        font-size: 1.1em;
        margin-top: 5%;
    }
    .service--btn{
        margin-top: 8%;
    }
}

@media (min-width:1224px){
    .service--title{
        color: seagreen;
        font-size: calc(1vw + 2.2em);
    }
    .service--info{
        font-size: 1.2em;
        margin-top: 5%;
    }
    .service--btn{
        margin-top: 13%;
    }
}

 @media (min-width:1240px){
    .service--title{
        color: blue;
        font-size: calc(1vw + 2em);
    }
    .service--info{
        font-size: 1.2em;
        margin-top: 5%;
    }
    .service--btn{
        margin-top: 23%;
    }
}

@media (min-width:1440px){
    .service--title{
        color: greenyellow;
        font-size: calc(1vw + 3em);
    }
    .service--info{
        font-size: 1.5em;
    }
    .service--btn{
        margin-top: 14%;
    }
}

@media (min-width:1600px){
    .service--title{
        color: blueviolet;
        font-size: calc(1vw + 3em);
    }
    .service--info{
        font-size: 1.5em;
    }
    .service--btn{
        margin-top: 22%;
    }
}

@media (min-width:1800px){
    .service--title{
        color: brown;
        font-size: calc(1vw + 3em);
    }
    .service--info{
        font-size: 1.5em;
    }
    .service--btn{
        margin-top: 25%;
    }
}