*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background-image: linear-gradient(to right,  #241959 , #524ff0 );
}

.header--nav:hover{
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    scale: 1.2;
    transition: 1s;
}

.masthead {
    background-size: cover;
    min-height: 60vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.color-overlay{
    background-color: rgba(0, 0, 0, .2);
}



.main{
    background-image: linear-gradient(to bottom,  #241959 , #524ff0 );
}

.main-img:hover {
    rotate: 36deg;
    transition: 1s;
    scale: 1.2;
}

.main-img:hover + p{
    color: aliceblue;
    scale: 1.2;
    transition: 1s;
}

.paymethod{
    background-color: #524ff0;
}
.paymethod--title{
    color: aliceblue;
    font-size: 2.5em;
}
.paymethod--carousel{
    background-image: linear-gradient(to top,  #241959 , #524ff0 )
}

.paymethod--img{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 37%;
    margin-bottom: 5%;
}
.icons:hover{
    rotate: -36deg;
    transition: 0.5s;
}


@media (max-width:1024px) {
    .masthead{
        min-height: 40vh;
    }
    h1{
        font-size: 2em ;
    }
    .header--nav{
        text-align: center;
    }
    .header--nav:hover{
        text-shadow: 2px 2px 2px black;
        scale: 1.1;
        transition: 1s;

    }
    .paymethod--title{
        font-size: 2em;
    }
    .paymethod--img{
        width: 50%;
        margin-left: 25%;
    }
}