*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background-image: linear-gradient(to right,  #241959 , #524ff0 );
}

.header--nav:hover{
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
}

.masthead {
    background-size: cover;
    min-height: 50vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}

@media (max-width:768px) {
    .masthead{
        min-height: 40vh;
    }
    h1{
        font-size: 2em ;
    }
}

.main{
    background-image: linear-gradient(to bottom,  #241959 , #524ff0 );
}
.main-img:hover {
    rotate: 36deg;
    transition: 1s;
    scale: 1.2;
}

.main-img:hover + p{
    color: aliceblue;
    scale: 1.2;
    transition: 1s;
}