@import "colorsMixins";

/* MEDIA
============================================= */
@media (max-width:425px) {
    .masthead{
        min-height: 40vh;
    }
    .header--nav{
        text-align: center;
    }
    .main-img-p{
        font-size: 1.1em;
        color: $secondary-color;
        margin-top: 10%;
    }
}

@media (min-width:426px) and (max-width:960px) {
    .masthead{
        min-height: 40vh;
    }
    h1{
        font-size: 2em ;
    }
    .header--nav{
        text-align: center;
    }
    .main p {
        color: $secondary-color;
        font-size: 1em;
        margin-top: 5%;
    }
    .header--nav:hover{
        @include text-shadow-predet(1.1,1s,0);
    }
    .paymethod h2{
        font-size: 1.8em;
    }
    .paymethod--info{
        font-size: 0.78em;
    }
    .service--info{
        font-size: 0.8em;
    }
}

@media (min-width:965px){
    h1{
        font-size: 2em ;
    }
    .header--nav{
        text-align: center;
    }
    .main-img{
        width: 100%;
    }
    .main-img-p{
        font-size: 2em;
        color: $secondary-color;
        margin-top: 5%;
    }
}