@import "colors_mixins";

/* SERVICES PAGE
============================================= */
.services{
    background-image: $background-color-bottom;
    .service--desc{
        height: 125px;
    }
    .service--title{
        color: rgb(33, 157, 252);
        text-shadow: $text-shadow-color;
        font-size: 1.5em;
    }
    
    .service--info{
        color: whitesmoke;
        text-shadow: $text-shadow-color;
    }
    .service--img{
        border-radius: 3px;
        &:hover{
            @include text-shadow-predet(1.04,1s ,0)
        }
    }
    .service--content{
        width: 30%;
        &:hover{
            rotate: 10deg;
            transition: 0.2s;
        }
    }
    .service--btn{
        @extend .gnralBtn;
        background-color: #444;
        border: transparent;
        color: black;
        &:hover{
            @include hoverBtnEffect(0.08em,black,#1efff0,0 0 35px #1efff0);
        }
    }
    .service--btn--disabled{
        height: 39px;
    }
}
