@import "colors_mixins";

/* WEB-DESIGN PAGE
============================================= */

.webDesign{
    background-image: $background-color-bottom;
    .webDesign--title{
        color: $secondary-color;
        text-shadow: $text-shadow-color;
    }
    .webDesign--img{
        box-shadow: 2px 4px 15px #777;
        border-radius: 4px;
        &:hover{
            transition: transform .5s;
            transform: scale(1.2);
        }
    }
}

.review{
    background-image: $background-color-top;
    .review--title{
        color: $secondary-color;
        @include text-shadow-predet(1.02,1s,0);
    }
    .review--container:hover{
        .review--img{
            transform: translate(45%);
            transition: .5s; 
        }
        p{
            @include text-shadow-predet(1.02,1s,0);
            color: $primary-color;
        }
    }
    .review--btnEcommerce{
        @extend .gnralBtn;
        background-color: #444;
        text-decoration: none;
        border: transparent;
        &:hover{
            @include hoverBtnEffect(0.08em,antiquewhite,#6eff3e,0 0 35px #6eff3e);
            @include text-shadow-predet(1.075,.5s,0);
        }
    }
    
    .review--btnCommon{
        @extend .gnralBtn;
        @extend .review--btnEcommerce;
        &:hover{
            @include hoverBtnEffect(0.08em,antiquewhite,#ff1867,0 0 35px #ff1867);
            @include text-shadow-predet(1.075,.5s,0);
        }
    }
    .review--btnWeb3{
        @extend .gnralBtn;
        @extend .review--btnEcommerce;
        &:hover{
            @include hoverBtnEffect(0.08em,antiquewhite,#1e9bff,0 0 35px #1e9bff);
            @include text-shadow-predet(1.075,.5s,0);
        }
    }
    
}