@import "colors_mixins";

/* ABOUT-US PAGE
============================================= */
.aboutUs{
    background-image: $background-color-bottom;
    .aboutUs--title{
        font-size: 3em;
        color: white;
        text-shadow: $text-shadow-color;
    }
    .aboutUs--container:hover{
        @include text-shadow-predet(1.1,2s ,0);
        p{
            @include text-shadow-predet(1.025,2s ,0);
            color: $primary-color;
        }
    }
    .aboutUs--info{
        font-size: x-large;
        font-weight: bold;
        color: $secondary-color;
    }
    .aboutUs--img{
        border-radius: 4px;
        box-shadow: 2px 4px 15px $secondary-color;
    }
    
}
