* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Dots", cursive;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* HEADER % FOTTER 
============================================= */
.header {
  background-color: #82a7a6;
}
.header .header--nav:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.2;
  transition: 1s;
  rotate: 0;
  color: aliceblue;
}

.icons:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 0.5s;
  rotate: -36deg;
}

/* MAIN PAGE
============================================= */
.masthead {
  background-size: cover;
  min-height: 80vh;
  position: relative;
  color: white;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.main {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
  color: aliceblue;
}
.main .main-img:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.15;
  transition: 1s;
  rotate: 360deg;
}
.main .main-img:hover + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.2;
  transition: 1s;
  rotate: 0;
}

.gnralBtn, .review--btnWeb3, .review--btnCommon, .review--btnEcommerce, .services .service--btn {
  padding: 5px;
  font-size: 1.1em;
  border: solid 1px #777;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

.paymethod {
  background-color: #82a7a6;
}

.paymethod--title {
  color: aliceblue;
  font-size: 2.5em;
}

.paymethod--bg {
  background-image: linear-gradient(to top, #1e4362, #82a7a6);
}

.paymethod--img {
  box-shadow: 2px 4px 15px #82a7a6;
  border-radius: 24px;
  border: solid #1e4362;
}
.paymethod--img:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
}

.paymethod--info {
  color: aliceblue;
}

/* SERVICES PAGE
============================================= */
.services {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
}
.services .service--desc {
  height: 125px;
}
.services .service--tittle {
  color: #1e4362;
  text-shadow: 2px 2px 2px black;
  font-size: 1.5em;
}
.services .service--info {
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.services .service--img {
  border-radius: 3px;
}
.services .service--img:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.04;
  transition: 1s;
  rotate: 0;
}
.services .service--content {
  width: 30%;
}
.services .service--content:hover {
  rotate: 10deg;
  transition: 0.2s;
}
.services .service--btn {
  background-color: gainsboro;
  color: #1e4362;
}
.services .service--btn:hover {
  -webkit-animation: shadow-pulse 1000ms 1;
          animation: shadow-pulse 1000ms 1;
  background-color: #82a7a6;
  color: white;
}
.services .service--btn--disabled {
  height: 39px;
}

/* CONTACT PAGE 
============================================= */
.contact--bg {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
}

.contact--tittle {
  color: #aeacf5;
  text-shadow: 2px 2px 2px black;
}
.contact--tittle:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.2;
  transition: 1s;
  rotate: 0;
}

/* ABOUT-US PAGE
============================================= */
.aboutUs--container:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 2s;
  rotate: 0;
  background-color: #629eac;
}
.aboutUs--container:hover p {
  text-shadow: 2px 2px 2px black;
  scale: 1.05;
  transition: 2s;
  rotate: 0;
  color: white;
}

.aboutUs--title {
  font-size: 3em;
}

.aboutUs--info {
  font-size: x-large;
  font-weight: bold;
  color: #241959;
}

.aboutUs--img {
  border-radius: 4px;
  box-shadow: 2px 4px 15px cornflowerblue;
}

/* WEB-DESIGN PAGE
============================================= */
.web-design--tittle {
  color: #aeacf5;
  text-shadow: 2px 2px 2px black;
}

.web-design--img {
  box-shadow: 2px 4px 15px #777;
  border-radius: 4px;
}

.web-design--img:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}

.review--img:hover {
  transform: translate(45%);
  transition: 0.5s;
}

.review--btnEcommerce {
  background-color: green;
  text-decoration: none;
}
.review--btnEcommerce:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.075;
  transition: 0.5s;
  rotate: 10deg;
  background-color: rgb(1, 67, 1);
  color: antiquewhite;
}

.review--btnCommon {
  background-color: red;
  text-decoration: none;
}
.review--btnCommon:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.075;
  transition: 0.5s;
  rotate: 10deg;
  background-color: rgb(110, 1, 1);
  color: antiquewhite;
}

.review--btnWeb3 {
  background-color: gold;
  text-decoration: none;
}
.review--btnWeb3:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.075;
  transition: 0.5s;
  rotate: -15deg;
  background-color: goldenrod;
  color: antiquewhite;
}

/* MEDIA
============================================= */
@media (max-width: 425px) {
  .masthead {
    min-height: 40vh;
  }
  .header--nav {
    text-align: center;
  }
  .main-img-p {
    font-size: 1.5em;
    color: aliceblue;
    margin-top: 10%;
  }
}
@media (min-width: 426px) and (max-width: 960px) {
  .masthead {
    min-height: 40vh;
  }
  h1 {
    font-size: 2em;
  }
  .header--nav {
    text-align: center;
  }
  .main-img {
    width: 90%;
  }
  .main-img-p {
    font-size: 2em;
    color: #1e4362;
    margin-top: 5%;
  }
  .header--nav:hover {
    text-shadow: 2px 2px 2px black;
    scale: 1.1;
    transition: 1s;
    rotate: 0;
  }
  .paymethod--title {
    font-size: 2em;
  }
  .service--info {
    font-size: 0.8em;
  }
}
@media (min-width: 965px) {
  h1 {
    font-size: 2em;
  }
  .header--nav {
    text-align: center;
  }
  .main-img {
    width: 100%;
  }
  .main-img-p {
    font-size: 2em;
    color: #1e4362;
    margin-top: 5%;
  }
}/*# sourceMappingURL=main.css.map */