*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}

@import "colors_mixins";
@import "indexPage";
@import "header_footer";
@import "servicesPage";
@import "webDesignPage";
@import "contactPage";
@import "aboutUsPage";
@import "media";


