* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Dots", cursive;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .review .review--btnWeb3, .review .review--btnCommon, .review .review--btnEcommerce, .services .service--btn {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .review .review--btnWeb3, .review .review--btnCommon, .review .review--btnEcommerce, .services .service--btn {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* MAIN PAGE
============================================= */
.masthead {
  background-size: cover;
  min-height: 80vh;
  position: relative;
  color: white;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.main {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
  color: aliceblue;
}
.main .main--img:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.15;
  transition: 1s;
  rotate: 360deg;
}
.main .main--img:hover + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.2;
  transition: 1s;
  rotate: 0;
  color: orange;
}
.main p {
  font-size: 1.5em;
  color: #1e4362;
}

.paymethod {
  background-color: #82a7a6;
}
.paymethod h2 {
  color: aliceblue;
  font-size: 2.5em;
}
.paymethod .paymethod--bg {
  background-image: linear-gradient(to top, #1e4362, #82a7a6);
}
.paymethod .paymethod--img--bank, .paymethod .paymethod--img--credit, .paymethod .paymethod--img--crypto {
  box-shadow: 2px 4px 15px #82a7a6;
  border-radius: 24px;
  border: solid #1e4362;
}
.paymethod .paymethod--img--bank:hover, .paymethod .paymethod--img--credit:hover, .paymethod .paymethod--img--crypto:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  border: solid greenyellow;
  box-shadow: 2px 4px 15px greenyellow;
}
.paymethod .paymethod--img--bank:hover + p, .paymethod .paymethod--img--credit:hover + p, .paymethod .paymethod--img--crypto:hover + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  color: greenyellow;
}
.paymethod .paymethod--img--bank:hover + p + p, .paymethod .paymethod--img--credit:hover + p + p, .paymethod .paymethod--img--crypto:hover + p + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  color: greenyellow;
}
.paymethod .paymethod--img--crypto:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  border: solid #1efff0;
  box-shadow: 2px 4px 15px #1efff0;
}
.paymethod .paymethod--img--crypto:hover + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  color: #1efff0;
}
.paymethod .paymethod--img--crypto:hover + p + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  color: #1efff0;
}
.paymethod .paymethod--img--credit:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  border: solid red;
  box-shadow: 2px 4px 15px red;
}
.paymethod .paymethod--img--credit:hover + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  color: red;
}
.paymethod .paymethod--img--credit:hover + p + p {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
  color: red;
}
.paymethod .paymethod--info {
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .review .review--btnWeb3, .review .review--btnCommon, .review .review--btnEcommerce, .services .service--btn {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* HEADER % FOTTER 
============================================= */
.header {
  background-color: #82a7a6;
}
.header .header--nav:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.2;
  transition: 1s;
  rotate: 0;
  color: aliceblue;
}

.icons:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 0.5s;
  rotate: -36deg;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .review .review--btnWeb3, .review .review--btnCommon, .review .review--btnEcommerce, .services .service--btn {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* SERVICES PAGE
============================================= */
.services {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
}
.services .service--desc {
  height: 125px;
}
.services .service--title {
  color: rgb(33, 157, 252);
  text-shadow: 2px 2px 2px black;
  font-size: 1.5em;
}
.services .service--info {
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.services .service--img {
  border-radius: 3px;
}
.services .service--img:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.04;
  transition: 1s;
  rotate: 0;
}
.services .service--content {
  width: 30%;
}
.services .service--content:hover {
  rotate: 10deg;
  transition: 0.2s;
}
.services .service--btn {
  background-color: #444;
  border: transparent;
  color: black;
}
.services .service--btn:hover {
  letter-spacing: 0.08em;
  color: black;
  background: #1efff0;
  box-shadow: 0 0 35px #1efff0;
}
.services .service--btn--disabled {
  height: 39px;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .review .review--btnWeb3, .review .review--btnCommon, .review .review--btnEcommerce, .services .service--btn {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* WEB-DESIGN PAGE
============================================= */
.webDesign {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
}
.webDesign .webDesign--title {
  color: #1e4362;
  text-shadow: 2px 2px 2px black;
}
.webDesign .webDesign--img {
  box-shadow: 2px 4px 15px #777;
  border-radius: 4px;
}
.webDesign .webDesign--img:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}

.review {
  background-image: linear-gradient(to top, #1e4362, #82a7a6);
}
.review .review--title {
  color: #1e4362;
  text-shadow: 2px 2px 2px black;
  scale: 1.02;
  transition: 1s;
  rotate: 0;
}
.review .review--container:hover .review--img {
  transform: translate(45%);
  transition: 0.5s;
}
.review .review--container:hover p {
  text-shadow: 2px 2px 2px black;
  scale: 1.02;
  transition: 1s;
  rotate: 0;
  color: #82a7a6;
}
.review .review--btnEcommerce, .review .review--btnWeb3, .review .review--btnCommon {
  background-color: #444;
  text-decoration: none;
  border: transparent;
}
.review .review--btnEcommerce:hover, .review .review--btnWeb3:hover, .review .review--btnCommon:hover {
  letter-spacing: 0.08em;
  color: antiquewhite;
  background: #6eff3e;
  box-shadow: 0 0 35px #6eff3e;
  text-shadow: 2px 2px 2px black;
  scale: 1.075;
  transition: 0.5s;
  rotate: 0;
}
.review .review--btnCommon:hover {
  letter-spacing: 0.08em;
  color: antiquewhite;
  background: #ff1867;
  box-shadow: 0 0 35px #ff1867;
  text-shadow: 2px 2px 2px black;
  scale: 1.075;
  transition: 0.5s;
  rotate: 0;
}
.review .review--btnWeb3:hover {
  letter-spacing: 0.08em;
  color: antiquewhite;
  background: #1e9bff;
  box-shadow: 0 0 35px #1e9bff;
  text-shadow: 2px 2px 2px black;
  scale: 1.075;
  transition: 0.5s;
  rotate: 0;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .services .service--btn, .review .review--btnEcommerce, .review .review--btnCommon, .review .review--btnWeb3 {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* CONTACT PAGE 
============================================= */
.contact {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
}
.contact .contact--title {
  color: #1e4362;
  text-shadow: 2px 2px 2px black;
}
.contact .contact--title:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 1s;
  rotate: 0;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .services .service--btn, .review .review--btnEcommerce, .review .review--btnCommon, .review .review--btnWeb3 {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* ABOUT-US PAGE
============================================= */
.aboutUs {
  background-image: linear-gradient(to bottom, #1e4362, #82a7a6);
}
.aboutUs .aboutUs--title {
  font-size: 3em;
  color: #82a7a6;
  text-shadow: 2px 2px 2px black;
}
.aboutUs .aboutUs--container:hover {
  text-shadow: 2px 2px 2px black;
  scale: 1.1;
  transition: 2s;
  rotate: 0;
}
.aboutUs .aboutUs--container:hover p {
  text-shadow: 2px 2px 2px black;
  scale: 1.025;
  transition: 2s;
  rotate: 0;
  word-spacing: 0.1em;
}
.aboutUs .aboutUs--info {
  font-size: x-large;
  font-weight: bold;
  color: whitesmoke;
}
.aboutUs .aboutUs--img {
  border-radius: 4px;
  box-shadow: 2px 4px 15px #1e4362;
}

/* COLOR VARIABLES
============================================= */
/* GRADIENT BACKGROUNDS
============================================= */
/* MIXIN 
============================================= */
/* BUTTON 
============================================ */
.gnralBtn, .services .service--btn, .review .review--btnEcommerce, .review .review--btnCommon, .review .review--btnWeb3 {
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  transition: all 700ms ease;
}

/* MEDIA
============================================= */
@media (max-width: 425px) {
  .masthead {
    min-height: 40vh;
  }
  .header--nav {
    text-align: center;
  }
  .main-img-p {
    font-size: 1.1em;
    color: #1e4362;
    margin-top: 10%;
  }
}
@media (min-width: 426px) and (max-width: 960px) {
  .masthead {
    min-height: 40vh;
  }
  h1 {
    font-size: 2em;
  }
  .header--nav {
    text-align: center;
  }
  .main p {
    color: #1e4362;
    font-size: 1em;
    margin-top: 5%;
  }
  .header--nav:hover {
    text-shadow: 2px 2px 2px black;
    scale: 1.1;
    transition: 1s;
    rotate: 0;
  }
  .paymethod h2 {
    font-size: 1.8em;
  }
  .paymethod--info {
    font-size: 0.78em;
  }
  .service--info {
    font-size: 0.8em;
  }
}
@media (min-width: 965px) {
  h1 {
    font-size: 2em;
  }
  .header--nav {
    text-align: center;
  }
  .main-img {
    width: 100%;
  }
  .main-img-p {
    font-size: 2em;
    color: #1e4362;
    margin-top: 5%;
  }
}/*# sourceMappingURL=main.css.map */