*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}
/* COLOR VARIABLES
============================================= */
$primary-color:#82a7a6 ;
$secondary-color: #1e4362;

/* GRADIENT BACKGROUNDS
============================================= */

$background-color-right: linear-gradient(to right,  $secondary-color , $primary-color );
$background-color-bottom: linear-gradient(to bottom,  $secondary-color , $primary-color);
$background-color-top: linear-gradient(to top,  $secondary-color , $primary-color);
$text-shadow-color: 2px 2px 2px black;

/* MIXIN 
============================================= */
@mixin text-shadow-predet ($scale, $transition, $rotate) {
    text-shadow: $text-shadow-color;
    scale: $scale;
    transition: $transition;
    rotate: $rotate;
}
/* HEADER % FOTTER 
============================================= */
.header{
    background-color: $primary-color;
    .header--nav:hover {
        @include text-shadow-predet(1.2, 1s,0);
        color: aliceblue;
    }
}

.icons:hover{
    @include text-shadow-predet(1.1,0.5s,-36deg)
}

/* MAIN PAGE
============================================= */
.masthead {
    background-size: cover;
    min-height: 80vh;
    position:relative;
    color: white;
}

.color-overlay{
    background-color: rgba(0, 0, 0, .2);
}

.main{
    background-image: $background-color-bottom;
    color: aliceblue;
    .main-img:hover{
        @include text-shadow-predet(1.15,1s,360deg);
    }
    .main-img:hover + p{
        @include text-shadow-predet(1.2,1s,0);
    }
}
.gnralBtn{
    padding: 5px;
    font-size: 1.1em;
    border: solid 1px #777;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    transition: all 700ms ease;
}
.paymethod{
    background-color: $primary-color;
}

.paymethod--title{
    color: aliceblue;
    font-size: 2.5em;
}
.paymethod--bg{
    background-image: $background-color-top;
}

.paymethod--img{
    box-shadow: 2px 4px 15px $primary-color;
    border-radius: 24px;
    border: solid $secondary-color;
    &:hover{
        @include text-shadow-predet(1.1,1s,0)
    }
}
.paymethod--info{
    color: aliceblue;
}

/* SERVICES PAGE
============================================= */
.service--container--prog{
    background-image: $background-color-bottom;
}
.service--container--ux{
   background-color: $primary-color;
}

.service--container--technical{
    background-image: $background-color-top;
}

.service--img{
    border-radius: 3px;
    &:hover{
        @include text-shadow-predet(1.04,1s ,0)
    }
}

.service--content{
    width: 30%;
}

.service--tittle{
    color: $secondary-color;
    text-shadow: $text-shadow-color;
    font-size: 1.5em;
}

.service--info{
    color: whitesmoke;
    text-shadow: $text-shadow-color;
}
.service--btn{
    @extend .gnralBtn;
    background-color: transparent;
    color: $secondary-color;
    &:hover{
        animation: shadow-pulse 1000ms 1;
        background-color: #524ff0;
        color: white;
    }
}
/* CONTACT PAGE 
============================================= */
.contact--bg{
    background-image: $background-color-bottom;
}

.contact--tittle{
    color: #aeacf5;
    text-shadow: $text-shadow-color;
    &:hover{
         @include text-shadow-predet(1.2,1s ,0);
    }
}
/* ABOUT-US PAGE
============================================= */
.aboutUs--container:hover{
    @include text-shadow-predet(1.1,2s ,0);
    background-color: #629eac;
    p{
        @include text-shadow-predet(1.05,2s ,0);
        color: white;
    }
}
.aboutUs--title{
    font-size: 3em;
}
.aboutUs--info{
    font-size: x-large;
    font-weight: bold;
    color: #241959;
}
.aboutUs--img{
    border-radius: 4px;
    box-shadow: 2px 4px 15px cornflowerblue;
}

/* WEB-DESIGN PAGE
============================================= */
.web-design--tittle{
    color: #aeacf5;
    text-shadow: $text-shadow-color;
}
.web-design--img{
    box-shadow: 2px 4px 15px #777;
    border-radius: 4px;
}
.web-design--img:hover{
    transition: transform .5s;
    transform: scale(1.2);
}

.review--img:hover{
    transform: translate(45%);
    transition: .5s;
}

.review--btnEcommerce{
    @extend .gnralBtn;
    background-color: green;
    text-decoration: none;
    &:hover{
        @include text-shadow-predet(1.075,.5s,10deg);
        background-color: rgb(1, 67, 1);
        color: antiquewhite;
    }
}

.review--btnCommon{
    @extend .gnralBtn;
    background-color: red;
    text-decoration: none;
    &:hover{
        @include text-shadow-predet(1.075,.5s,10deg);
        background-color: rgb(110, 1, 1);
        color: antiquewhite;
    }
}

.review--btnWeb3{
    @extend .gnralBtn;
    background-color: gold;
    text-decoration: none;
    &:hover{
        @include text-shadow-predet(1.075,.5s,-15deg);
        background-color: goldenrod;
        color: antiquewhite;
    }
}
/* MEDIA
============================================= */
@media (max-width:425px) {
    .masthead{
        min-height: 40vh;
    }
    .header--nav{
        text-align: center;
    }
    .main-img-p{
        font-size: 1.5em;
        color: aliceblue;
        margin-top: 10%;
    }
}

@media (min-width:425px) and (max-width:960px) {
    .masthead{
        min-height: 40vh;
    }
    h1{
        font-size: 2em ;
    }
    .header--nav{
        text-align: center;
    }
    .main-img{
        width: 90%;
    }
    .main-img-p{
        font-size: 2em;
        color: $secondary-color;
        margin-top: 5%;
    }
    .header--nav:hover{
        @include text-shadow-predet(1.1,1s,0)
    }
    .paymethod--title{
        font-size: 2em;
    }
}

@media (min-width:965px){
    h1{
        font-size: 2em ;
    }
    .header--nav{
        text-align: center;
    }
    .main-img{
        width: 100%;
    }
    .main-img-p{
        font-size: 2em;
        color: $secondary-color;
        margin-top: 5%;
    }
}